
/*Global styles 全局样式
==================================================*/

html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
	background: #fff;
}


a:link,
a:visited{
    text-decoration: none;
}


a:hover{
	text-decoration: none;
	color: #cd8f00;
	cursor: pointer;
}

a:focus{
	outline: 0;
}
a{
	color: #444;
}

section{
	position: relative;
}

.no-padding{
	padding: 0;
}

/*Typography 大纲
==================================================*/
body, p{
	/*font-family: 'MyriadPro-Regular', serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size: 18px;
	line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 36px;
    line-height: 48px;
}

h2{
    font-size: 30px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #566366;
}

h3{
    font-size: 22px;
    line-height: 24px;
  	text-transform: uppercase;
  	font-weight: 500;
  	 color: #566366;
}

h4{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

h5{
    font-size: 14px;
    line-height: 24px;
}

/*Button styles 按钮样式
=============================================*/
.btn-default{
	font-size: 18px;
	line-height: 24px;
	padding: 20px 19px;
	border: 2px solid#fff;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 700;
	background: transparent;
	color: #fff;
	-webkit-transition: all .4s ease-in 0s;
	-o-transition: all .4s ease-in 0s;
	transition: all .4s ease-in 0s;
}
.btn-default.featured{
	font-size: 18px;
	line-height: 24px;
	padding: 20px 19px;
	border: 2px solid#cd8f00;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 700;
	background: transparent;
	color: #cd8f00;
	margin-top: 50px;
	-webkit-transition: all .4s ease-in 0s;
	-o-transition: all .4s ease-in 0s;
	transition: all .4s ease-in 0s;
}
.btn-default:hover{
	background: #fff;
	color: #cd8f00;
	border-color: #fff;
}
.btn-default.featured:hover{
	background: #cd8f00;
	color: #fff;
	border-color:#cd8f00;
}

/*Global styles 全局样式
==============================================*/
.section-padding{
	padding-top: 100px;
}
p{
	color: #919191;
}
h2.heading-title{
	margin-bottom: 50px;
	font-weight: 700;
}
.section-heading{
	width: 80%;
	margin: 0 auto;
}


/*==================================================
	navbar-menu
=====================================================*/
.section-menu{
	z-index: 9999;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default{
	background: #252e30;
	border: 0;
	border-radius: 0;
}
.navbar-nav {}
.navbar-nav li{
	/*padding-right: 40px;*/
}
.navbar-default .navbar-nav > li > a{
	text-transform: uppercase;
	font-weight: 400;
	padding: 30px 20px;
	font-size: 16px;
	color: #fff;
	line-height: 30px;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
	color: #cd8f00;
}
.main-nav{
	/*margin: 0 auto;*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #cd8f00;
	background-color: transparent;
}

.navbar-brand img{
	float: left;
	margin-right: 20px;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight: 700;
	color: #fff!important;
	line-height: 40px;
	padding-top: 25px;
}
.navbar-brand span{
	color: #cd8f00;
}

/*=============================================
  Banner styles
================================================*/
#section-banner {
	background: url(../images/back-view-backlit-backpacker.jpg);
	background-size: cover;
}
.banner-content {
	padding: 180px 0 160px 0;
}
.banner-content h2.title {
	color: #fff;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}
.banner-content p {
	letter-spacing: 1em;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
}
.line-top{
	width: 930px;
	color: #fff;
	background: #fff;
	height: 2px;
	margin: 32px auto;
}
.line-btm{
	width: 930px;
	color: #fff;
	background: #fff;
	height: 2px;
	margin: 32px auto;
}

/*==================================================
	section-blog
=====================================================*/

#section-blog{
	padding: 60px 0px 60px;
	text-align: center;
}
#section-blog h2 {
	margin-bottom: 30px;
}
.blog-box{
	padding-bottom: 20px;
}
.blog-box:hover {
	box-shadow: #ccc 3px 3px 8px;
	-webkit-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}

.blog-box img {
	max-width: 100%;
}
.blog-box h3{
	color: #333;
}
.blog-box p {
	font-size: 14px;
}


/*==================================================
	section-profile
=====================================================*/
#section-skill .btn-default.featured{
	padding: 20px 36px!important;
}
#section-profile{
	background: #f2f2f1;
}
#section-profile:after {
	position: absolute;
	content: "";
	width: 40px;
	height: 50px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #f2f2f1;
	bottom: -12px;
	left: 48%;
}
.profile-bg {
	background-color: transparent;
	background: url("../images/me.jpg");
	position: absolute;
	background-clip: border-box;
	background-attachment: scroll;
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 2;
	background-position: -40px center, 0px center;
	width: 45%;
}
.profile-desc{
	margin-bottom: 70px;
	padding-left: 80px;
}
.profile-desc h2{
}
.service-wrapper{
	padding-left: 80px;
}
.service-inner{
	float: left;
	margin-right: 12px;
	margin-bottom: 20px;
	width: 48%;
}
.service-inner i{
	font-size: 40px;
	color: #cd8f00;
	float: left;
}
.service-box {
	padding: 0px;
	margin-left: 60px;
	margin-top: -15px;
}
.service-box h3{
	text-transform: uppercase;
	margin-bottom: 16px;
	font-size: 20px;
	line-height: 24px;
}
.service-box p{
	font-size: 16px;
	line-height: 30px;
}

/*section-skills
===============================================*/
.skill-box{
	margin-bottom: 20px;
}
.skill-desc ol {
	color: #919191;
}
.skill-box label{
	/*text-transform: uppercase;*/
	margin-bottom: 20px;
	font-weight: 600;
	color: #566366;
}
.progress {
	height: 30px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #F2f2f1;
	border-radius: 0px;
	box-shadow: none;
}
.progress-bar {
	box-shadow: none;
	background-color: #cd8f00;
	text-align: right;
	font-weight: 700;
	font-size: 18px;
	padding-right: 10px;
	padding-top: 4px;
}

/*Section-life
==================================================*/
#section-life {
	background: #f2f2f1;
	margin-top: 30px;
	padding-bottom: 80px;
	padding-top: 100px;
}
#section-life:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 50px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #fff;
	top: -28px;
	left: 48%;
}
.carousel-indicators li {
	display: inline-block;
	width: 11px;
	height: 11px;
}
.carousel-indicators {
	/*bottom: -25px;*/
}
.carousel-indicators .active {
	background-color: #cd8f00;
}
.carousel-indicators li {
	border-color: #cd8f00;
}
.carousel-inner {
	position: relative;
}
.carousel-inner .item {
	height: 500px;
}
#life-carousel img {
	position:absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 500px;
	z-index: -1;
}
.text-info {
	position: absolute;
	top: 150px;
	background-color: rgba(0,0,0,.3);
	padding-top: 50px;
}
.text-info p{
	color: #fff;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.client-name{
	color: #fff;
}

/*====================================================
section-portfolio
====================================================*/
#section-portfolio,
.section-heading{
	margin-bottom: 100px;
}
.portfolio-margin {
	margin-bottom: 30px;
}
.portfolio-margin p {
	text-align: center;
	line-height: 30px;
}
.portfolio-box{
	position: relative;
	-webkit-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}

.image-overlay{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(205,143,0,.7);
	top: 0;
	opacity:0;
	-webkit-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
}
.image-overlay a i{
	font-size: 50px;
	color: #fff;
	margin-top: 90px;
}
.portfolio-box:hover .image-overlay{
	opacity: 1;
}

/*SECTION contact
=================================================*/

#section-contact{
	background: #252e30;
	padding-bottom: 80px;
}
#section-contact .heading-title{
	color: #fff;
}
.contact-left{
	padding-top: 30px;
}
.contact-left p{
	color: #919191;
	font-size: 18px;
	line-height: 30px;
}

.contact-left h2{
	color: #fff;
}
.location{
	margin: 45px 0px;
}
.contact-left ul{
	margin-left: -40px;
}
.contact-left ul li a{
	color: #919191;
	margin-left: 40px;
}
.contact-left ul li span{
	color: #fff;

}

.contact-box{
	margin-bottom: 40px;
}
.contact-box .form-group{
	margin-bottom: 20px;
}
.contact-box label{
	color: #fff;
	margin-bottom: 20px;
	font-size: 18px;
}

.contact-box .form-control{
	height: 50px;
	border-radius: 0px;
	background: #4b5456;
	border: 0px;
}
.contact-form .btn-default{

	background: #191f21;
	border: 0px;
}


/*==========================================================
	section Footer
	============================================================*/

#section-footer{
	background: #191f21;
	padding: 50px 0px;
}
#section-footer h4{
	color: #485153;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.socail-link{}
.socail-link a i{
	background: #4b5456;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	color: #191f21;
	font-size: 20px;
	line-height: 35px;
}
.socail-link a:hover i{
	color: #fff;
}